*, *::before, *::after {
    box-sizing: border-box;
}



/* General styles */
html {
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

body {
    background-color: #E5E5E5;
    line-height: 24px;
    font-size: 16px;
    color: #4a4a4a;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

@media (min-width:800px) {
        /* The emerging W3C standard
    that is currently Firefox-only */
    * {
        scrollbar-width: 4px;
        scrollbar-color: grey lightgrey;
    }
    
    /* Works on Chrome/Edge/Safari */
    *::-webkit-scrollbar {
        width: 4px;
    }
    *::-webkit-scrollbar-track {
        background: lightgrey;
        border-radius: 15px;
    }
    *::-webkit-scrollbar-thumb {
        background-color: grey;
        border-radius: 15px;
    }

    body{
        height: 100vh;
        padding: 0 50px;
    }

    main {
        flex-grow: 1;
        /* In order keep the SPA feel of the application in desktop view
        the main component should have a concrete value for it's max height.
        This enables making containers inside main scrollable. 
        */
        max-height: calc(100% - 153px);
    }
}

/* Added fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');

/* Hedaer */
header span.shownInMobile{
    display: flex;
}

header {
    padding: 24px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

header span{
    display: none;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}

header span:not(:first-child){
    margin-left: 2em;
}

header .support{
    flex-grow: 1;
}

header span p {
    display: inline;
    margin: 0;
    margin-left: 10px;
}

@media (min-width: 800px) {
    header {
        padding: 24px 0;
    }
    header span {
        display: flex;
    }
}

/*  Footer */
footer {
    text-align: center;
    padding: 24px 0;
}

footer a {
    text-decoration: none;
    pointer-events: none;
    color: inherit;
    opacity: 0.54;
    font-size: 14px;
    line-height: 22px;
}

/* Main */
main {
    background-color: #FFFFFF;
}
